.book-info-container,
.delete-book-modal {
  background-color: var(--modal-bg-color);
  color: var(--text-color);

  padding: 2rem;

  max-width: 675px;

  position: fixed;
  top: 51%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow-y: auto;

  max-height: 95vh;

  border-radius: 2rem;
  border: 1px solid #fff;
}

.book-info-header {
  text-align: center;

  position: relative;

  margin-bottom: 3.2rem;
}

.book-info-header h1 {
  background: var(--gradient-bg);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
}

.book-info-header button {
  position: absolute;
}

.book-info-header button {
  display: block;
  width: max-content;
  top: -2.4rem;
  right: -2rem;
}

.book-info-header button i {
  color: var(--purple-color);
  font-size: 2.4rem;
}

.book-info-content {
  column-count: 2;
  column-gap: 2rem;
  column-rule: 2px solid var(--purple-color);
}

.book-info-content .label {
  color: var(--purple-color);
  text-transform: uppercase;
  font-weight: 700;
}

.book-info-content p {
  max-width: 32ch;
  margin-bottom: 0.8rem;
}

@media (max-width: 760px) {
  .book-info-header button {
    right: -2rem;
  }
}

@media (max-width: 600px) {
  .book-info-header h1 {
    margin-top: 2.4rem;
  }

  .book-info-header button {
    top: -4rem;
  }

  .book-info-content {
    column-count: 1;
  }
}
