footer {
  position: relative;

  color: var(--text-color);

  overflow-x: hidden;

  max-width: 100%;
}

footer p {
  position: absolute;
  bottom: 15%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

footer a {
  color: var(--yellow-color);
  text-decoration: none;
}

footer svg {
  display: block;
}
