main.container {
  display: flex;
  justify-content: space-between;

  margin-bottom: 8rem;
}

#right-side {
  max-width: 540px;
}

main.container h1 {
  font-size: var(--really-big-font-size);
  text-align: center;

  margin-bottom: var(--really-big-font-size);

  background: var(--gradient-bg);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

main.container p {
  margin-bottom: var(--normal-font-size);
  color: var(--text-color);
}

main.container strong {
  color: var(--pink-color);
}

main.container ul li {
  list-style: square;
  list-style-position: inside;

  color: var(--text-color);
}

main.container a {
  padding: 0.8rem 1.6rem;
  font-size: var(--normal-font-size);
  text-decoration: none;

  background: var(--gradient-bg);
  color: var(--text-color);

  width: fit-content;

  border-radius: 1.2rem;

  display: none;
}

main.container ul li:last-child {
  margin-bottom: var(--normal-font-size);
}

@media (max-width: 970px) {
  main.container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
}

@media (max-width: 630px) {
  main.container span {
    display: none;
  }

  main.container span.mobile {
    display: inline;
  }
}

@media (max-width: 550px) {
  main.book-result {
    padding: 0 1rem;
  }

  #left-side {
    display: none;
  }
}

@media (max-width: 425px) {
  main.container a.mobile {
    display: flex;
    gap: 0.8rem;
  }
}
